.posicion {
    position: relative;
    bottom: 5.5vw;
    left: 72vw;
    /* background-color: blueviolet; */
    width: 20vw;
    height: 5vw;
}


.searchName {
    position: relative;
    right: 1vw;
    top: 1vw;
    width: 16vw;
    height: 2.67vw;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem; 
}

.botonAvion {
    position: relative;
    left: 8.3vw;
    bottom: 1.8vw;
    background-image: url("../../../../public/imagenes/Pagina/boton.search.png");
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 5vw;
    height: 3vw;
    cursor: url("../../../../public/imagenes/Pagina/cursor.pointer2.png"), pointer;
}