.todaLaPant {
    /* background-color: blue; */
    height: 800px;
}
.vistaLink{
    position: relative;
    bottom: 600px;
    /* background-color: blueviolet; */
}
.botonHomeDet{ 
  position: relative;
  background-image: url('../../../public/imagenes/Pagina/boton.home.png');
  background-repeat:no-repeat;
  background-color: transparent;
  height: 22vh;
  width: 9vw;
 background-size: cover;
  background-position:center;
  border: none;
  bottom: 0px;
  left: 700px;
  cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
}

.barraEnDetail{
    position: relative;
    top: 50px;
}

.boxBodyDet {
    position: relative;
    left: 95px;
    top: 44px;
    /* background-color: rgb(121, 52, 44); */
    height: 800px;
    width: 1700px;
}
.newActCreate{
    margin-top: 10px;
    background-image: url('../../../public/imagenes/Pagina/boton.crear.png');
    background-repeat:no-repeat;
    background-color: transparent;
    height: 12vh;
    width: 8vw;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
}

/* ACTIVIDADES */

.cajaCardsActDet{
    position: relative;
    left: 850px;
    bottom: 500px;
    /* background-color: salmon; */
    height: 600px;
    width: 800px;
}
.nameActiDet{
    position: relative;
    top: 20px;
    left: 100px;
    width: 600px;
    height: 60px;
    /* background-color: rgb(173, 171, 168); */
    border: none;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 2.5rem; 
}
/* COUNTRIES */

.cajaCountriesDet{
    position: relative;
    left: 50px;
    top: 100px;
    /* background-color: rgb(114, 116, 250); */
    height: 600px;
    width: 800px;
}
.boxPasaporteDetail{
    position: relative;
    top: 70px;
    left: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 70px;
    height: 450px;
    width: 750px;
}
.boxInfoCountDet{
    position: relative;
    left: 250px;
    bottom:200px;
    /* background-color: white; */
    width: 500px;
    height: 300px;
}

/* lineas */
.lineaSepDet1 {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 470px;
    bottom: 15px;
    left: 10px;
}

.lineaSepDet2 {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 470px;
    bottom: 35px;
    left: 10px;
}.lineaSepDet3 {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 470px;
    bottom: 55px;
    left: 10px;
}.lineaSepDet4 {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 470px;
    bottom: 75px;
    left: 10px;
}.lineaSepDet5 {
    position: relative;
    border-top: 1px solid black;
    height: 2px;
    width: 470px;
    bottom: 93px;
    left: 10px;
}

/* imagen */
.boxImagenDet {
    position: relative;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 30px;
    top: 47px;
    box-shadow : 3px 2px 2px rgba(62, 62, 62, 0.4);

}

.imagTamDet {
    position: relative;
    top: 18px;
    width: 180px;
    height: 100px;
}

/* Nombre */
.nameCounDet{
    position: relative;
    /* background-color: aquamarine; */
    left: 125px;
    top: 5px;
    width: 500px;
    height: 90px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 3rem;
    line-height : 40px; 
}

/* id */
.idCounDet{
    position: relative;
    top: 35px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 2rem; 
}

/* Continente  */
.nameContCounDet{
  position: relative;
  right: 165px;
  top: 20px;
  color: rgb(42, 42, 42);
  font-style: Trebuchet;
  font-weight: 700;
  font-size: 1.7rem;
}

.contCounDet{
    position: relative;
    right: 0px;
    bottom: 13px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5rem;
}
/* Subregion  */
.nameSRCounDet{
    position: relative;
    right: 165px;
    top: -2px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 1.7rem;
  }
  
  .sRCounDet{
      position: relative;
      right: 0px;
      bottom: 33px;
      color: rgb(62, 62, 62);
      font-style: Trebuchet;
      font-weight: 600;
      font-size: 1.5rem;
  }

/* Capital */
.nameCapCounDet{
    position: relative;
    right: 187px;
    bottom: 22px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 1.7rem;
}
  
.capCounDet{
    position: relative;
    right: 0px;
    bottom: 55px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Población */
.namePobCounDet{
    position: relative;
    right: 170px;
    bottom: 40px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 1.7rem;
}
  
.pobCounDet{
    position: relative;
    right: 0px;
    bottom: 72px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Área */
.nameAreCounDet{
    position: relative;
    right: 200px;
    bottom: 60px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 1.7rem;
}
  
.areCounDet{
    position: relative;
    right: 0px;
    bottom: 92px;
    color: rgb(62, 62, 62);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5rem;
}
.boxCardDetalle {
    position: relative;
    background-color: rgba(81, 190, 229, 0.2) ;
    border-radius: 20px;
    margin-top: 10px;
    height: 100px;
}
.boxnameCardAct{
    /* background-color: brown; */
    width: 200px;
    height: 100px;    
}

.nameCardAct {
    position: relative;
    right: 35px;
    top: 25px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 400;
    font-size: 2rem;
    line-height : 30px; 
}

.boxDifCardAct{
    position: relative;
    left: 250px;
    bottom: 90px;
    background-color: rgb(81, 190, 229);
    width: 140px;
    height: 80px;
}

.difNaCardAct{
    position: relative;
    left: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 400;
    font-size: 1.6rem;
}

.difCardAct{
    position: relative;
    right: 0px;
    top: 0px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.8rem;  
}
.boxDurCardAct {
    position: relative;
    left: 425px;
    bottom: 170px;
    background-color: rgb(81, 190, 229);
    width: 140px;
    height: 80px; 
}
.boxEstCardAct{
    position: relative;
    left: 600px;
    bottom: 250px;
    background-color: rgb(81, 190, 229);
    width: 140px;
    height: 80px; 
}
.durNaCardAct{
    position: relative;
    left: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 400;
    font-size: 1.6rem;
}
.durCardAct{
    position: relative;
    right: 0px;
    top: 0px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.8rem;  
}
.estNaCardAct{
    position: relative;
    left: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-style: Trebuchet;
    font-weight: 400;
    font-size: 1.6rem; 
}
.estCardAct{
    position: relative;
    right: 0px;
    top: 0px;
    color: rgb(42, 42, 42);
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.8rem; 
}
