.landingCoun {
    height: 100vh;
    width: 100vw;    
    background-image: url("../../../public/imagenes/Pagina/fondo.landing.jpg"); 
    /* hay que arreglar la imagèn para que coincida con la pantalla  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.botonHomeLP {
    position: relative;
    background-image: url('../../../public/imagenes/Pagina/boton.home.png');
    background-repeat:no-repeat;
    background-color: transparent;
    height: 22vh;
    width: 9vw;
    background-size: cover;
    background-position:center;
    border: none;
    top: 75vh;
    left: 15.5vw;
    cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
   }