
.landingCoun { 
  position: relative;
  bottom: 210px;
  left: 200px;
}
.cajadivLP {
  position:relative;
  /* background-color: blue; */
  width: 100%;
}
.botonHomeLP {
    position: relative;
    background-image: url('../../../public/imagenes/Pagina/boton.home.png');
    background-repeat:no-repeat;
    background-color: transparent;
    height: 22vh;
    width: 9vw;
    background-size: cover;
    background-position:center;
    border: none;
    bottom: 110px;
    left: 140px;
    cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
   }

.videoLanding {
    position: relative;
    bottom: 10px;
    right: 7px;
    width: 101%;
}   